{% extends 'account/account-base.html' %}
{% block title %}
    <title>创建用户</title>
{% endblock %}
{% block main %}
    <form class="form-account" method="post">
        <h2 class="form-account-heading">注册账户</h2>
        {{ form.as_table }}
        {% if msg %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ msg }}
            </div>
        {% endif %}
        {% csrf_token %}
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="注册用户"/>
        <p>已有账户？点此<a href="{% url 'account:login' %}">登录</a></p>
    </form>
{% endblock %}
