{% extends 'base.html' %}
{% load static %}
{% block css %}
    <!-- 下拉美化插件 select2 -->
    <link rel="stylesheet" href="{% static 'plugins/select2-4.1.0/css/select2.css' %}"/>
    <!-- 弹窗插件 layer -->
    <link rel="stylesheet" href="{% static 'plugins/layer/theme/default/layer.css' %}"/>
{% endblock %}
{% block main %}
    {% include 'navbar.html' with activeTag='account' %}
    {% if request.user.groupID == -1 %}
        {% include 'account/no-group.html' %}
    {% else %}
        <div class="container">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <form method="post">
                        <fieldset disabled>
                            <legend>基本信息</legend>
                            <input type="hidden" id="id" value="{{ group.id }}">
                            <div class="form-group">
                                <label for="name">工作组：</label>
                                <input type="text" id="name" class="form-control" value="{{ group.name }}">
                            </div>
                            <div class="form-group">
                                <label for="introduction">简介：</label>
                                <textarea type="text" id="introduction"
                                          class="form-control">{{ group.introduction }}</textarea>
                            </div>
                        </fieldset>
                        <div class="d-flex justify-content-center">
                            <div class="row-cols-2">
                                <button class="btn btn-light" id="edit">编辑</button>
                                <button class="btn btn-primary" id="save">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h4 class="card-title">组员</h4>
                    <div class="pre-scrollable">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">账号</th>
                                <th scope="col">名称</th>
                                <th scope="col">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group_user in group_users %}
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ group_user.email }}</td>
                                <td>{{ group_user.nickname }}</td>
                                <td>
                                    {% if group_user.id != request.user.id and request.user.id == group.leaderID %}
                                        <button class="btn btn-danger">踢出</button>
                                    {% endif %}
                                </td>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if request.user.id == group.leaderID %}
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h4 class="card-title">邀请</h4>
                        <div class="row">
                            <label class="col-sm-2 col-form-label" for="userSearch">按邮箱搜索 </label>
                            <div class=" col-sm-7">
                                <select form="ivtForm" name="invitedUser" id="userSearch"
                                        class="select2-selection--single col-12">
                                    {% for user in all_nongroup_users %}
                                        <option id="{{ user.id }}" value="{{ user }}">{{ user.email }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <form id="ivtForm" action="{% url 'account:invite' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="group" value={{ request.user.groupID }}>
                                <div class="col-sm-3">
                                    <input type="submit" class="btn btn-primary" value="发送邀请">
                                </div>
                            </form>
                        </div>
                        <label>待接受的邀请：</label>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">账号</th>
                                <th scope="col">名称</th>
                                <th scope="col">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invite in group.unsolved_invites.all %}
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ invite.invitedUser.email }}</td>
                                <td>{{ invite.invitedUser.nickname }}</td>
                                <td>
                                    <form action="{% url 'account:cancel-invite' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="invite" value="{{ invite.id }}">
                                        <input class="btn btn-danger" type="submit" value="撤销">
                                    </form>
                                </td>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h4>公告栏</h4>
                    {% if request.user.id == group.leaderID %}
                        <button class="btn btn-primary" id="createAnnouncement">添加公告</button>
                    {% endif %}
                    {% for announcement in group.announcements.all %}
                        <div class="mt-2 mb-4 shadow">
                            <h5>{{ announcement.title }}</h5>
                            <div class="row">
                                <div class="col-10">
                                    {{ announcement.content }}
                                </div>
                                <div class="col-2">
                                    <a href="{% url 'account:confirm-announcement' announcement.id %}">确认收到</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <!-- 下拉美化插件 select2 -->
    <script src="{% static 'plugins/select2-4.1.0/js/select2.js' %}"></script>
    <script src="{% static 'plugins/select2-4.1.0/js/zh-CN.js' %}"></script>
    <!-- 弹窗插件 layer -->
    <script src="{% static 'plugins/layer/layer.js' %}"></script>

    <script type="text/javascript">
        $("#userSearch").select2();
        $("#createAnnouncement").on('click', function () {
            layer.open({
                type: 2,
                title: '添加公告',
                shadeClose: false,
                maxmin: true,
                area: ['800px', '460px'],
                content: "{% url 'account:create-announcement' %}",
            });
        });

    </script>

{% endblock %}