{% extends 'account/account-base.html' %}
{% block title %}
    <title>登录账户</title>
{% endblock %}
{% block main %}
    <div class="container">
        <form class="form-account" method="post">
            <h2 class="form-account-heading">登录平台</h2>
            {{ form.as_table }}
            {% if msg %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ msg }}
                </div>
            {% endif %}
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <a class="btn btn-lg btn-primary btn-block btn-success" href="{% url 'account:create' %}" role="button">还没有账号？立即注册</a>
        </form>
    </div> <!-- /container -->
{% endblock %}