{% extends 'account/account-base.html' %}
{% block title %}
    <title>登录账户</title>
{% endblock %}
{% block main %}
    <div class="container">
        <form class="form-account" method="post">
            {% csrf_token %}
            <h2 class="form-account-heading">登录平台</h2>
            {{ form.as_table }}
            {% if msg %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ msg }}
                </div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <a class="btn btn-lg btn-primary btn-block btn-success" href="{% url 'account:create' %}" role="button">还没有账号？立即注册</a>
            <h5>忘记密码了？</h5>
            <h5>点击<a class="text-primary" href="{% url 'account:password_reset_recover' %}">重置密码</a></h5>
        </form>
    </div> <!-- /container -->
{% endblock %}