{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar-5.5.0/css/main.css' %}">
    <!-- 弹窗插件 layer -->
    <link rel="stylesheet" href="{% static 'plugins/layer/theme/default/layer.css' %}"/>
{% endblock %}
{% block main %}
    {% include 'navbar.html' with activeTag="agenda" %}
    <div class="container-lg">
        <div class="card shadow mt-2">
            <div class="card-body">
                <h4>个人日程</h4>
                <div id="personal_calendar"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'plugins/moment-2.24.0/moment.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar-5.5.0/js/main.js' %}"></script>
    <!-- fullcalendar提供的对moment驱动脚本. 要在moment之后引入 -->
    <script src="{% static 'plugins/fullcalendar-5.5.0/js/support/moment@5.5.0/main.global.js' %}"></script>
    <!-- 弹窗插件 layer -->
    <script src="{% static 'plugins/layer/layer.js' %}"></script>
    <!-- fullcalendar 汉化 -->
    <script src="{% static 'plugins/fullcalendar-5.5.0/js/zh-cn.js' %}" charset="UTF-8"></script>
    <script type="text/javascript">
        {#    fullcalendar初始化设置    #}
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('personal_calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'zh-cn',
                customButtons: {
                    {# 添加按钮逻辑 #}
                    add: {
                        text: '添加',
                        click: function () {
                            layer.open({
                                type: 2,
                                title: '新建日程',
                                shadeClose: false,
                                maxmin: true,
                                area: ['800px', '460px'],
                                content: "{% url 'agenda:create' %}",
                                end: function () {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                },
                headerToolbar: {
                    left: 'prev,next,today,add',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                {#设置标题格式#}
                views: {
                    dayGridMonth: {
                        titleFormat: 'YYYY年M月',
                    },
                    timeGridWeek: {titleFormat: 'M月D日'},
                    timeGridDay: {titleFormat: 'YYYY年M月D日'},
                },
                {# 显示个人日程 #}
                events: [
                    {% for agenda in personal_agenda %}
                        {
                            id: {{ agenda.id }},
                            title: '{{ agenda.title }}',
                            start: '{{ agenda.start_time | date:"Y-m-d H:i"}}',
                            end: '{{ agenda.end_time | date:"Y-m-d H:i"}}',
                            {% if agenda.priority_level == 5  %}
                                backgroundColor: '#0073b7',
                            {% elif agenda.priority_level == 3 %}
                                backgroundColor: '#00a65a',
                            {% else %}
                                backgroundColor: '#dd4b39',
                            {% endif %}

                        },
                    {% endfor %}
                ],
                {# 点击事件 #}
                eventClick: function (info) {
                    {# django 模板无法直接传入js变量，这里进行字符串替换 #}
                    var eventID = info.event.id;
                    var url = "{% url 'agenda:detail' 12345 %}".replace('12345', eventID)
                    layer.open({
                        type: 2,
                        title: '日程详情',
                        shadeClose: false,
                        maxmin: true,
                        area: ['800px', '460px'],
                        content: url,
                        end: function () {
                            window.location.reload();
                        }
                    });
                }

            });
            calendar.render();
        });
    </script>
{% endblock %}