{% extends 'base.html' %}
{% load static %}
{% block css %}
    <!-- 时间选择器依赖 font-awesome -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!-- 时间选择器样式表 -->
    <link rel="stylesheet"
          href="{% static 'plugins/bootstrap4-datetimepicker-4.17.50/css/bootstrap-datetimepicker.css' %}">
    <!-- 弹窗 layer -->
    <link rel="stylesheet" href="{% static 'plugins/layer/theme/default/layer.css' %}"/>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="card mt-2 shadow">
            <div class="card-body">
                <div class="col-sm-4">
                    <h4>创建者</h4>
                    <img class="img-circle" src="{% static '' %}{{ user.avatar }}">
                    <a class="text-primary" href="#">{{ user.email }}</a>
                </div>
            </div>
        </div>
        <form class="card mt-2 mb-4 shadow" id="agendaForm" method="post">
            {% csrf_token %}
            <input type="hidden" name='userID' value="{{ request.user.id }}"/>
            <input type="hidden" name='agendaID' value="{{ agenda.id }}"/>
            <div class="card-body">
                <div class="row form-group">
                    <label class="col-sm-2 control-label">日程标题</label>
                    <div class="col-sm-4">
                        <input autofocus type="text" class="form-control pull-right" name="title"
                               value="{{ agenda.title }}"/>
                    </div>
                    <label class="col-sm-2 control-label">优先级</label>
                    <div class="col-sm-4">
                        <select class="form-control" style="width:100%;" name="priority_level">
                            <option value="1" {% if agenda.priority_level == 1 %} selected="selected"{% endif %}>最高优先级
                            </option>
                            <option value="2"{% if agenda.priority_level == 2 %} selected="selected"{% endif %}>较高优先级
                            </option>
                            <option value="3"{% if agenda.priority_level == 3 %} selected="selected"{% endif %}>默认优先级
                            </option>
                            <option value="4"{% if agenda.priority_level == 4 %} selected="selected"{% endif %}>较低优先级
                            </option>
                            <option value="5"{% if agenda.priority_level == 5 %} selected="selected"{% endif %}>最低优先级
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 control-label">开始时间</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-right form_datetime" name="start_time"
                               value="{{ agenda.start_time }}"/>
                    </div>
                    <label class="col-sm-2 control-label">结束时间</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-right form_datetime" name="end_time"
                               value="{{ agenda.end_time }}"/>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2">日程简介</label>
                    <div class="col-sm-10">
                    <textarea class="form-control" name="description" rows="2"
                              maxlength="256">{{ agenda.description }}</textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row span7 text-center ">
                        <button type="button" id="btnDelete" class="btn btn-danger mr-2 ">删除</button>
                        <button type="button" id="btnSave" class="btn btn-info ml-2 ">保存修改</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <!-- 日期处理moment -->
    <script src="{% static 'plugins/moment-2.24.0/moment.js' %}"></script>
    <!-- moment汉化 -->
    <script src="{% static 'plugins/moment-2.24.0/zh-cn.js' %}" charset="UTF-8"></script>
    <!-- 时间选择器核心脚本 -->
    <script src="{% static 'plugins/bootstrap4-datetimepicker-4.17.50/js/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- 弹窗插件 layer -->
    <script src="{% static 'plugins/layer/layer.js' %}"></script>

    <script type="text/javascript">
        /* 初始化时间选择器 */
        $(".form_datetime").datetimepicker({
            locale: moment.locale('zh-cn'),
        });

        /* 删除和修改按钮逻辑 */
        $("#btnDelete").click(function () {
            var data = $("#agendaForm").serialize();
            layer.confirm('is not?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    type: "post",
                    url: "{% url 'agenda:delete' %}",
                    data: data,
                    cache: false,
                    success: function (msg) {
                        if (msg.result) {
                            layer.close();
                            layer.msg('已删除');
                            parent.location.reload();
                        } else {
                            layer.msg('数据删除失败');
                        }
                    }
                });
            });
        });
        $("#btnSave").click(function () {
            var data = $("#agendaForm").serialize();
            $.ajax({
                type: form.attr('method'),
                url: "{% url 'agenda:detail' agenda.id %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert('数据保存成功！', {icon: 1}, function (index) {
                            parent.location.reload();
                        });
                    } else {
                        layer.alert('数据保存失败,请将信息填写完整！', {icon: 5});
                    }
                }
            });
        });
    </script>

{% endblock %}
