<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="{% static 'drawable/icon.png' %}">
    {% block title %}
        <title>日程协作平台</title>
    {% endblock %}

    <!-- CSS -->
    <link href="{% static 'plugins/bootstrap-4.6.0/css/bootstrap.css' %}" rel="stylesheet">
    {% block css %}

    {% endblock %}

</head>
<body>
{% block main %}

{% endblock %}
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="{% static 'plugins/jQuery/jquery-3.6.0.js' %}"></script>
<!-- 加载 Bootstrap 的 JavaScript 插件,包含依赖项Popper。 -->
<script src="{% static 'plugins/bootstrap-4.6.0/js/bootstrap.bundle.js' %}"></script>
{% block js %}

{% endblock %}
</body>
</html>