{% extends "base.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'css/scroller.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
    {% include "navbar.html" with activeTag='index' %}
    <div class="container">
        {% if request.user.is_authenticated %}
            <div class="card shadow mt-2">
                <div class="card-body row">
                    <div class="col">
                        <img src="{% static '' %}{{ request.user.avatar }}" class="rounded mx-auto d-block"
                             alt="用户头像" onclick="">
                        <p class="d-flex justify-content-center">
                            <a class="text-info" href="#account">{{ request.user.email }}</a>
                        </p>
                        {% if request.user.groupID == -1 %}
                            <a class="d-flex justify-content-center text-warning"
                               href="{% url 'account:group' %}">未加入工作组</a>
                        {% else %}

                        {% endif %}
                        <hr/>
                        <p class="text-secondary">
                            认证：
                            <img width="36" height="36" src="{% static 'drawable/phone_auth.png' %}">
                            <img width="36" height="36" src="{% static 'drawable/email_auth.png' %}">
                        </p>

                        <div class="d-flex justify-content-center">
                            <a class="text-info mr-2" href="{% url 'account:group' %}">小组管理</a>
                            {#                                分割线#}
                            <span class="border-left"></span>
                            <a class="text-info ml-2" href="{% url 'account:main' %}">用户中心</a>
                        </div>

                    </div>
                    <div class="col">
                        <ul class="nav nav-tabs mb-3">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#today">今天</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tomorrow">明天</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#day3">后天</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'agenda:main' %}">我的日历></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="today">
                                {% if not day1_agenda %}
                                    <div class="alert alert-primary" role="alert">
                                        没有日程
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="cards-scroller">
                                            {% for pa in day1_agenda %}
                                                <a onclick="openLayer({{ pa.id }});" class="card-agenda">
                                                    <div class="time">
                                                        {{ pa.start_time.time }}
                                                    </div>
                                                    <p class="title">
                                                        {{ pa.title }}
                                                    </p>
                                                    <hr>
                                                    <div class="text-secondary ml-2">
                                                        {{ pa.description }}
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="tomorrow">
                                {% if not day2_agenda %}
                                    <div class="alert alert-primary" role="alert">
                                        没有日程
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="cards-scroller">
                                            {% for pa in day2_agenda %}
                                                <a onclick="openLayer({{ pa.id }});" class="card-agenda">
                                                    <div class="time">
                                                        {{ pa.start_time.time }}
                                                    </div>
                                                    <p class="title">
                                                        {{ pa.title }}
                                                    </p>
                                                    <hr>
                                                    <div class="text-secondary ml-2">
                                                        {{ pa.description }}
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="day3">
                                {% if not day3_agenda %}
                                    <div class="alert alert-primary" role="alert">
                                        没有日程
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="cards-scroller">
                                            {% for pa in day3_agenda %}
                                                <a onclick="openLayer({{ pa.id }});" class="card-agenda">
                                                    <div class="time">
                                                        {{ pa.start_time.time }}
                                                    </div>
                                                    <p class="title">
                                                        {{ pa.title }}
                                                    </p>
                                                    <hr>
                                                    <div class="text-secondary ml-2">
                                                        {{ pa.description }}
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for msg in request.user.messages.all %}
                <div class="alert alert-light alert-dismissible fade show shadow mt-2" role="alert">
                    <strong>{{ msg.create_time }}</strong>
                    {% if msg.type == 0 %}
                        {{ msg.content }}
                    {% elif msg.type == 1 %}
                        {{ msg.involved }}邀请你参加
                        <a href="{% url 'agenda:detail' msg.item_id %}">
                            {{ msg.content }}
                        </a>
                    {% elif msg.type == 2 %}
                        {{ msg.involved }}写了
                        <a href="{% url 'kbase:article-detail' msg.item_id %}">
                            {{ msg.content }}
                        </a>
                    {% elif msg.type == 3 %}
                        {{ msg.involved }}上传了新文件
                        <a href="{% url 'file:detail' msg.item_id %}">
                            {{ msg.content }}
                        </a>
                    {% elif msg.type == 4 %}
                        {{ msg.involved }}上传了新文件
                        <a href="{% url 'file:detail' msg.item_id %}">
                            {{ msg.content }}
                        </a>
                    {% endif %}
                    <button onclick="onAlertClose({{ msg.id }})" type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% else %}
            <div class="jumbotron mt-2">
                <h1>日程协作平台</h1>
                <p class="lead">你还没有登录，请注册或者登录</p>
                <p><a class="btn btn-lg btn-success" href="{% url 'account:create' %}" role="button">注册账号</a>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/layer/layer.js' %}"></script>
    <script>
        var openLayer = function (id) {
            var url = "{% url 'agenda:detail' 12345 %}".replace('12345', id);
            layer.open({
                type: 2,
                title: '日程详情',
                shadeClose: false,
                maxmin: true,
                area: ['800px', '460px'],
                content: url,
                end: function () {
                    window.location.reload();
                }
            });
        }
    </script>
{% endblock %}