<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">日程协作平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if activeTag == 'index' %} class="active" {% endif %}>
                    <a href="{% url 'index' %}">主页</a>
                </li>
                <li {% if activeTag == 'agenda' %} class="active" {% endif %}>
                    <a href="{% url 'agenda:main' %}">日程</a>
                </li>
                <li {% if activeTag == 'knowledge-base' %} class="active" {% endif %}>
                    <a href="#knowledge-base">知识库</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="#account">账户</a></li>
                {% else %}
                    <li><a href="{% url 'account:login' %}">登录</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
